@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(17, 17, 17)
}

.backgroundAuth{
  background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.425)), url(https://uploads-ssl.webflow.com/5a9ee6416e90d20001b20038/6289f404226efd5b458afdd9_red-gradient.png);
  width: 50%;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
